.note {
  border: 1px solid black;
  padding: 5px;
  margin: 15px 15px 15px 0;
  width: 150px;
  display: inline-block;
}

.note button {
  background-color: transparent;
  border: none;
  float: right;
}

form button {
  background-color: transparent;
  border: none;
}

h1 span {
  cursor: pointer;
  color: green;
}
